In [4]:
"""

|----------------------------------------------------------------------------------------------------------------------------|
|Created on Wed Mar 29 13:30:23 2019
|
|@author: vavashishtha
|This Utility reads a csv data file and a csv mapping document and loads data into a table by using these two inputs.
|
|Arguments Required in given order :
|[1] Target_Table_name, [2] Mapping Document in csv format
|
|Specifications for Target_Table_name : Please mention file name with proper schema
|
|
|Python calling Script example : Adhoc_Tabel_to_File_v1.py 'Schema_name.Table_name' 'Mapping_Docuemnt.csv'
|----------------------------------------------------------------------------------------------------------------------------|

"""


import sys
import cx_Oracle
import pandas as pd
import datetime
import csv

#Target_Table_name = sys.argv[1]
#Mapping_name= sys.argv[2]
Target_Table_name='ETLAPP.JOB_STATS'
dir_name='C:/Users/vavashishtha/OneDrive - PayPal/Python_Table_to_File/'
Mapping_name='Mapping_Doc.csv'
Final_file_name='output.csv'


#now = datetime.datetime.now()
#Prepared_date=str(now.strftime("%Y%m%d"))+'0001'
#df_excel = pd.read_csv(file_name,keep_default_na=False)
df_Mapping=pd.read_csv(Mapping_name)
#df_excel['Extract_ID']=Prepared_date
#df_excel['Row_Insert_TS']=now
#df_excel['NaN']=float('NAN')
#df_excel['Source_Row_Seq'] = range(1, 1+len(df_excel))
#Excel_column_list=list(df_excel)
Source_Column_Name=df_Mapping['Source_Target_Column_Name'].tolist()
Target_Column_Name=df_Mapping['Target_File_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);


#Sql_select_statement=
Sql_execute="Select "
for j in Source_Column_Name:
    Sql_execute=Sql_execute+str(j)+", "

Sql_execute=Sql_execute[:-2]


Sql_execute=Sql_execute+" from "+Target_Table_name+" where to_date(RUN_DATE,'YYYYMMDD')=to_date('20120326','YYYYMMDD')"

databaseName = "DATATREK"
#print('vaibhav')
conn_str = 'etlapp/etlappstg@lvsvmdb81.qa.paypal.com:2126/QADBAA9P'
#conn_str = 'etlapp/Et1$ppJDEV654456@janatadev'
#conn_str = 'etlapp/asdfgcvi_23G@janataqa'


try:
    conn = cx_Oracle.connect(conn_str)
except cx_Oracle.DatabaseError as exception:
  printf ('Failed to connect to %s\n',databaseName)
  printException (exception)
  exit(0)


c = conn.cursor()


print("Selection will start Now,")
"""
try:
   c.execute(Sql_execute)

except cx_Oracle.DatabaseError as exception:
  print(Sql_execute)
  printf ('Failed to Insert into '+Target_Table_name+' ')
  printException (exception)


for errorObj in c.getbatcherrors():
    print("Row", errorObj.offset, " has error ", errorObj.message)

print('Selection has Ended')


outputFile = open(Final_file_name,'w') # 'wb'
output = csv.writer(outputFile, delimiter=',',quotechar='"', quoting=csv.QUOTE_ALL)
for row_data in c.fetchall(): # add table rows
  output.writerow(row_data)
  print(row_data)
"""



try:
        c.execute( Sql_execute )
        names = [ x[0] for x in c.description]
        rows = c.fetchall()
        df_oracle =pd.DataFrame( rows, columns=names)
finally:
        if c is not None:
          conn.close()


print(df_oracle)

df_oracle['JOB_START'] = df_oracle['JOB_START'].astype('float64')

df_oracle.to_csv(Final_file_name,index=False)

print(df_oracle)

Selection will start Now,
    JOB_ID     JOB_START       JOB_END JOB_STATUS GG_CHECKPOINT
0     4000  2.013081e+16  2.013081e+16          Y          None
1     4001           NaN  2.013081e+13          N          None
2     8000  2.013081e+16  2.013081e+16          Y          None
3     8001           NaN  2.013081e+13          Y          None
4     9000  2.013081e+16  2.013081e+16          Y          None
5     9001           NaN  2.013081e+13          Y          None
6     5000  2.013081e+16  2.013081e+16          Y          None
7     5001           NaN  2.013081e+13          Y          None
8     6000  2.013081e+16  2.013081e+16          Y          None
9     6001           NaN  2.013081e+13          Y          None
10   11000  2.013081e+16  2.013081e+16          Y          None
11   11001           NaN  2.013081e+13          Y          None
12    7000  2.013081e+16           NaN          N          None
13    7001           NaN  2.013081e+13          Y          None
14   10000  2.013081e+16  2.013081e+16          Y          None
15   10001           NaN  2.013081e+13          Y          None
16    1000  2.013081e+16  2.013081e+16          Y          None
17    1001           NaN  2.013081e+13          Y          None
18    2000  2.013081e+16  2.013081e+16          Y          None
19    2001           NaN  2.013081e+13          Y          None
20    3000  2.013081e+16  2.013081e+16          Y          None
21    3001           NaN  2.013081e+13          N          None
22    4000  2.013081e+16  2.013081e+16          Y          None
23    4001           NaN  2.013081e+13          N          None
24    8000  2.013081e+16  2.013081e+16          Y          None
25    8001           NaN  2.013081e+13          Y          None
26    9000  2.013081e+16  2.013081e+16          Y          None
27    9001           NaN  2.013081e+13          Y          None
28    5000  2.013081e+16  2.013081e+16          Y          None
29    5001           NaN  2.013081e+13          Y          None
..     ...           ...           ...        ...           ...
38    3000  2.013012e+16  2.013012e+16          Y          None
39    3001           NaN  2.013012e+13          Y          None
40    9000  2.013081e+16  2.013081e+16          Y          None
41    9001           NaN  2.013081e+13          Y          None
42    6000  2.013081e+16  2.013081e+16          Y          None
43    6001           NaN  2.013081e+13          Y          None
44    1000  2.013081e+16  2.013081e+16          Y          None
45    1001           NaN  2.013081e+13          Y          None
46    2000  2.013081e+16  2.013081e+16          Y          None
47    2001           NaN  2.013081e+13          Y          None
48    3000  2.013081e+16  2.013081e+16          Y          None
49    3001           NaN  2.013081e+13          N          None
50    7000  2.013081e+16           NaN          N          None
51    7001           NaN  2.013081e+13          Y          None
52   10000  2.013081e+16  2.013081e+16          Y          None
53   10001           NaN  2.013081e+13          Y          None
54    8000  2.013081e+16  2.013081e+16          Y          None
55    8001           NaN  2.013081e+13          Y          None
56    5000  2.013081e+16  2.013081e+16          Y          None
57    5001           NaN  2.013081e+13          Y          None
58   11000  2.013081e+16  2.013081e+16          Y          None
59   11001           NaN  2.013081e+13          Y          None
60    4000  2.013081e+16  2.013081e+16          Y          None
61    4001           NaN  2.013081e+13          N          None
62    1000  2.013081e+16  2.013081e+16          Y          None
63    1001           NaN  2.013081e+13          Y          None
64    2000  2.013081e+16  2.013081e+16          Y          None
65    2001           NaN  2.013081e+13          Y          None
66    3000  2.013081e+16  2.013081e+16          Y          None
67    3001           NaN  2.013081e+13          N          None

[68 rows x 5 columns]
    JOB_ID     JOB_START       JOB_END JOB_STATUS GG_CHECKPOINT
0     4000  2.013081e+16  2.013081e+16          Y          None
1     4001           NaN  2.013081e+13          N          None
2     8000  2.013081e+16  2.013081e+16          Y          None
3     8001           NaN  2.013081e+13          Y          None
4     9000  2.013081e+16  2.013081e+16          Y          None
5     9001           NaN  2.013081e+13          Y          None
6     5000  2.013081e+16  2.013081e+16          Y          None
7     5001           NaN  2.013081e+13          Y          None
8     6000  2.013081e+16  2.013081e+16          Y          None
9     6001           NaN  2.013081e+13          Y          None
10   11000  2.013081e+16  2.013081e+16          Y          None
11   11001           NaN  2.013081e+13          Y          None
12    7000  2.013081e+16           NaN          N          None
13    7001           NaN  2.013081e+13          Y          None
14   10000  2.013081e+16  2.013081e+16          Y          None
15   10001           NaN  2.013081e+13          Y          None
16    1000  2.013081e+16  2.013081e+16          Y          None
17    1001           NaN  2.013081e+13          Y          None
18    2000  2.013081e+16  2.013081e+16          Y          None
19    2001           NaN  2.013081e+13          Y          None
20    3000  2.013081e+16  2.013081e+16          Y          None
21    3001           NaN  2.013081e+13          N          None
22    4000  2.013081e+16  2.013081e+16          Y          None
23    4001           NaN  2.013081e+13          N          None
24    8000  2.013081e+16  2.013081e+16          Y          None
25    8001           NaN  2.013081e+13          Y          None
26    9000  2.013081e+16  2.013081e+16          Y          None
27    9001           NaN  2.013081e+13          Y          None
28    5000  2.013081e+16  2.013081e+16          Y          None
29    5001           NaN  2.013081e+13          Y          None
..     ...           ...           ...        ...           ...
38    3000  2.013012e+16  2.013012e+16          Y          None
39    3001           NaN  2.013012e+13          Y          None
40    9000  2.013081e+16  2.013081e+16          Y          None
41    9001           NaN  2.013081e+13          Y          None
42    6000  2.013081e+16  2.013081e+16          Y          None
43    6001           NaN  2.013081e+13          Y          None
44    1000  2.013081e+16  2.013081e+16          Y          None
45    1001           NaN  2.013081e+13          Y          None
46    2000  2.013081e+16  2.013081e+16          Y          None
47    2001           NaN  2.013081e+13          Y          None
48    3000  2.013081e+16  2.013081e+16          Y          None
49    3001           NaN  2.013081e+13          N          None
50    7000  2.013081e+16           NaN          N          None
51    7001           NaN  2.013081e+13          Y          None
52   10000  2.013081e+16  2.013081e+16          Y          None
53   10001           NaN  2.013081e+13          Y          None
54    8000  2.013081e+16  2.013081e+16          Y          None
55    8001           NaN  2.013081e+13          Y          None
56    5000  2.013081e+16  2.013081e+16          Y          None
57    5001           NaN  2.013081e+13          Y          None
58   11000  2.013081e+16  2.013081e+16          Y          None
59   11001           NaN  2.013081e+13          Y          None
60    4000  2.013081e+16  2.013081e+16          Y          None
61    4001           NaN  2.013081e+13          N          None
62    1000  2.013081e+16  2.013081e+16          Y          None
63    1001           NaN  2.013081e+13          Y          None
64    2000  2.013081e+16  2.013081e+16          Y          None
65    2001           NaN  2.013081e+13          Y          None
66    3000  2.013081e+16  2.013081e+16          Y          None
67    3001           NaN  2.013081e+13          N          None

[68 rows x 5 columns]

In [12]:
print(df_oracle.dtypes)

JOB_ID             int64
JOB_START        float64
JOB_END          float64
JOB_STATUS        object
GG_CHECKPOINT     object
dtype: object

In [13]:
print(type(names))

<class 'list'>